<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet"  href="  {% static 'csss/index.css' %}">

</head>
<body>
    

    <div class="dummy">
        <div class="popup">
            <div class="x-btn">X</div>
            <div class="inner"> Login / Signup First!</div>
           
        </div>
    </div>

    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="index.html">Amzon</a></div>
            <ul class="rlinks">
                <div class="cdiv">
                    <div class="cart">
                        <img   class="cart-png"   src=" {% static 'icons/cart.png' %} " alt="">
                    </div>
                    <div class="cart-d">Cart</div>

                </div>
              
                
                <li><a href=" {% url 'amz-abt' %}">About</a></li>
                <li><button class="sign ">Sign Up</button></li>
                <li><button class="log">Log In</button></li>
            </ul>

        </div>
      
    </nav>

    <div></div>

     <div class="gitems">
                <div class="cards">
                        
                    
                    <div class="lf">
                        <img  class="i-img" src="  {% static 'images/one.jpg' %}" alt="" loading="lazy">
                        <div>Den Watch</div>
                        <div class="price">price:<div class="pricen">&#8377;1000</div></div>

                    </div>
                   
                    <div class="info ">
                        <p class="para">This Watch is very good. <br>
                            Arrives in 8 days.</p>
                        <div class="btns">
                            <button class="add-c">Add to Cart</button>
                            <button class="buy-i">Buy</button>
                        </div>
                    </div>
                </div>

                



            </div>


    <footer class="foot">&#169;2022-2023 Amzon</footer>

   
    <script type="module"  src="  {% static 'jscripts/index.js' %}"></script>
    
</body>
</html>