<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/csss/login.css">
</head>
<body onload="onloadd()">

 
    <div class="lform hidden">
        <div class="heading">Log In</div>
        Username
        <input type="text" class="us"/>
        Password
        <input type="password" class="ps"/>

        <input type="button"  class="sbutton" value="Submit"  onclick="login()">
    </div>

    <div class="log">
        
    </div>




    <script src="/jscripts/login.js"></script>
    
</body>
</html>