<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay the amount</title>
    <link rel="stylesheet" href="../csss/pay.css">
</head>
<body>

    <div class="truck"> 
        <div class="one">
            <span class="span1"></span>
            <span class="span2"></span>
            <span class="span3"></span>
            <span class="span4"></span>
            <span class="span5"></span>
        </div>
        <div class="ar"></div>
        <img src="/icons/house.png"  class="hs" alt="">
        <img   class="timg"  src="/icons/truck.png" alt="">
        <div class="ground"></div>

        <div class="c-btn"><h1>Cancel</h1></div>
    
    </div>
    
        
        <div class="amount">
            <div class="p">
                <div class="am">Rs.8000</div>
                <div class="name">Rajesh</div>
                <div class="info"></div>
                

            </div>
            <div class="sub"><input type="text" class="inputs"  placeholder="Enter the amount" /> <div class="checker"">Pay</div></div>
            <div>
                <div class="btns">
                    <div class="btn">1</div>
                    <div class="btn">2</div>
                    <div class="btn">3</div>
                    <div class="btn">4</div>
                    <div class="btn">5</div>
                    <div class="btn">6</div>
                    <div class="btn">7</div>
                    <div class="btn">8</div>
                    <div class="btn">9</div>
                    <div class="btn">0</div>
                    <div class="btnc">Clear</div>
                </div>
               
              
            </div>
          
          
        </div>
        

    
    <script  type="module"  src="/jscripts/pay.js"></script>
</body>
</html>