<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/dest/output.css">
</head>
<body>
    <div>
        <nav class="flex items-center  w-full h-20  bg-emerald-300 shadow-md cursor-pointer">
             <div class="flex justify-start ml-6 px-6 text-xl"><a href="index.html">Amazon</a></div>
             <div class="flex justify-end mr-8 w-full ">
                <ul class="flex space-x-12 text-xl">
                    <li class="py-2"><button>Cart</button></li>
                    <li class="py-2">Home</li>
                    <li><button class="rounded-xl  bg-white px-4 py-2 text-emerald-300 hover:bg-emerald-500  hover:text-white hover:border border-emerald-700">Log In</button></li>
                    <li><button class="rounded-xl bg-white px-4 py-2 text-emerald-300 hover:bg-emerald-500  hover:text-white hover:border border-emerald-700">Sign up</button></li>
                 </ul>
             </div>

             
            
        </nav>
    </div>


    

    

    <div class="flex  relative h-52 ">
        <img  class="w-full object-cover" src="images/seven.jpg" alt="">  

    </div>


    







   <!-- items go here -->

    <div class="py-4 px-4 bg-emerald-50">
        <div class="grid grid-cols-4 px-4 sm:grid-flow-row sm:grid-rows-1">

          
            <div class="grid w-80 rounded-md bg-emerald-100 px-4 py-2 place-items-center transition ease-in-out  hover:-translate-y-2  m-4">
                <img  class="object-cover h-48 w-96 rounded-md"  src="images/one.jpg" alt="">
                <div>Den Watch</div>
                <div>price:&#8377;1000</div>
            </div>

          
            <div class="grid w-80 rounded-md bg-emerald-100 px-4 py-2 place-items-center transition ease-in-out  hover:-translate-y-2  m-4">
                <img  class="object-cover h-48 w-96 rounded-md"  src="images/two.jpg" alt="">
                <div>Sony Camera</div>
                <div>price:&#8377;2000</div>
            </div>

          
            <div class="grid w-80 rounded-md bg-emerald-100 px-4 py-2 place-items-center transition ease-in-out  hover:-translate-y-2  m-4">
                <img  class="object-cover h-48 w-96 rounded-md"  src="images/three.jpg" alt="">
                <div>Den Shoes</div>
                <div>price:&#8377;2000</div>
            </div>

          
            <div class="grid w-80 rounded-md bg-emerald-100 px-4 py-2 place-items-center transition ease-in-out  hover:-translate-y-2  m-4">
                <img  class="object-cover h-48 w-96 rounded-md"  src="images/four.jpg" alt="">
                <div>iPhone</div>
                <div>price:&#8377;60000</div>
            </div>


            <div class="grid w-80 rounded-md bg-emerald-100 px-4 py-2 place-items-center transition ease-in-out  hover:-translate-y-2  m-4">
                <img  class="object-cover h-48 w-96 rounded-md"  src="images/one.jpg" alt="">
                <div>Den Watch</div>
                <div>price:&#8377;1000</div>
            </div>

          
            <div class="grid w-80 rounded-md bg-emerald-100 px-4 py-2 place-items-center transition ease-in-out  hover:-translate-y-2  m-4">
                <img  class="object-cover h-48 w-96 rounded-md"  src="images/two.jpg" alt="">
                <div>Sony Camera</div>
                <div>price:&#8377;2000</div>
            </div>

          
            <div class="grid w-80 rounded-md bg-emerald-100 px-4 py-2 place-items-center transition ease-in-out  hover:-translate-y-2  m-4">
                <img  class="object-cover h-48 w-96 rounded-md"  src="images/three.jpg" alt="">
                <div>Den Shoes</div>
                <div>price:&#8377;2000</div>
            </div>

          
            <div class="grid w-80 rounded-md bg-emerald-100 px-4 py-2 place-items-center transition ease-in-out  hover:-translate-y-2  m-4">
                <img  class="object-cover h-48 w-96 rounded-md"  src="images/four.jpg" alt="">
                <div>iPhone</div>
                <div>price:&#8377;60000</div>
            </div>

            <div class="grid w-80 rounded-md bg-emerald-100 px-4 py-2 place-items-center transition ease-in-out  hover:-translate-y-2  m-4">
                <img  class="object-cover h-48 w-96 rounded-md"  src="images/one.jpg" alt="">
                <div>Den Watch</div>
                <div>price:&#8377;1000</div>
            </div>

          
            <div class="grid w-80 rounded-md bg-emerald-100 px-4 py-2 place-items-center transition ease-in-out  hover:-translate-y-2  m-4">
                <img  class="object-cover h-48 w-96 rounded-md"  src="images/two.jpg" alt="">
                <div>Sony Camera</div>
                <div>price:&#8377;2000</div>
            </div>

          
            <div class="grid w-80 rounded-md bg-emerald-100 px-4 py-2 place-items-center transition ease-in-out  hover:-translate-y-2  m-4">
                <img  class="object-cover h-48 w-96 rounded-md"  src="images/three.jpg" alt="">
                <div>Den Shoes</div>
                <div>price:&#8377;2000</div>
            </div>

          
            <div class="grid w-80 rounded-md bg-emerald-100 px-4 py-2 place-items-center transition ease-in-out  hover:-translate-y-2  m-4">
                <img  class="object-cover h-48 w-96 rounded-md"  src="images/four.jpg" alt="">
                <div>iPhone</div>
                <div>price:&#8377;60000</div>
            </div>

          

          
        


           


        </div>
    </div>
  

  <footer class=" bg-emerald-300 bottom-0  inset-x-0 text-center h-14 flex justify-center items-center text-xl "><div>&#169 2022-2023 Amazon</div></footer>

  <script>
   




  </script>
</body>
</html>