<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'csss/register.css' %}">
</head>
<body onload="onloadd()">

    <div class="form hidden">
        <div class="heading">Sign up</div>
        Username
        <input type="text" class="us"/>
        Password
        <input type="password" class="ps"/>
        Type password again
        <input type="password" class="ps1"/>
        <input type="button"  class="sbutton" value="Submit"  onclick="register()">
    </div>

    <div class="log">
        
    </div>


    <script src="{% static 'jscripts/register.js' %} "></script>
    
</body>
</html>