<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  type="text/css" href="../csss/user.css">

</head>
<body>

    <div class="hnmdiv hnm">
        <div class="h-f">
            <div class="h-1"></div><h1 class="h-2"></h1> <div class="x-button" >X</div>
        </div>
        <div class="ing"></div>
        <div><button class="buy-bought">Pay Amount</button></div>
    </div>

    
    <div class="ndiv nhidden">
        <div class="heading">
            <div class="n-1"> <h1>My Orders</h1></div><div class="mx-button" >X</div>
        </div>
        <div class="mrs"></div>
       
    </div>

    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">Amzon</a></div>
            <ul class="rlinks">
                <div class="cdiv">
                    <div class="cart"><img  class="cart-png" src="/icons/cart.png" alt="">
                        <div class="c"></div>
                        <div class="cart-d">
                            <div>Cart</div>
                           Items:<div class="cd1">0</div> 
                            Total sum:<div class="cd2">0</div>
                            <div class="bbb"> <button class="bb-buy">Buy</button></div>

                        </div>
                    </div>
                  

                </div>
              
                
                <li><a href="about.html">About</a></li>
                <li>
                    <div>

                    </div>
              
                        <div class="usb "> </div>
                        <ul class="dupmenu">
                            <li class="myobtn">My Orders</li>
                            <li class="logt">Logout</li>
                        </ul>
                     
                   
                </li>
                

            
                 

            </ul>

        </div>
      
    </nav>

    <div></div>


        

            <div class="gitems">
                
                    <div class="cards">
                        
                        <div class="item-id">1</div>
                        <div class="lf">
                            <img  class="i-img" src="../images/one.jpg" alt="" loading="lazy">
                            <div>Den Watch</div>
                            <div class="price">price:<div class="pricen">&#8377;1000</div></div>

                        </div>
                       
                        <div class="info ">
                            <p class="para">This Watch is very good. <br>
                                Arrives in 8 days.</p>
                            <div class="btns">
                                <button class="add-c">Add to Cart</button>
                                <button class="buy-i">Buy</button>
                            </div>
                        </div>
                    </div>


                    <div class="cards">
                        <div class="item-id">2</div>
                        <div class="lf">
                            <img  class="i-img" src="../images/two.jpg" alt="" loading="lazy">
                            <div>Sonn Camera</div>
                            <div class="price">price:<div class="pricen">&#8377;30000</div></div>

                        </div>
                       
                        <div class="info ">
                            <p class="para">This Camera is awesome.
                                <br>
                                Arrives in 8 days.
                            </p>
                            <div class="btns">
                                <button class="add-c">Add to Cart</button>
                                <button class="buy-i">Buy</button>
                            </div>
                        </div>
                    </div>


                    <div class="cards">
                        <div class="item-id">3</div>
                        <div class="lf">
                            <img  class="i-img" src="/images/three.jpg" alt="" loading="lazy">
                            <div>Mike Shoes</div>
                            <div class="price">price:<div class="pricen">&#8377;2000</div></div>

                        </div>
                       
                        <div class="info ">
                            
                            <p class="para">These Shoes are comfortable. <br>
                                Arrives in 8 days.</p>
                            <div class="btns">
                                <button class="add-c">Add to Cart</button>
                                <button class="buy-i">Buy</button>
                            </div>
                        </div>
                    </div>


                    <div class="cards">
                        <div class="item-id">4</div>
                        <div class="lf">
                            <img  class="i-img" src="/images/four.jpg" alt=""loading="lazy">
                            <div>jPhone</div>
                            <div class="price">price:<div class="pricen">&#8377;65000</div></div>

                        </div>
                       
                        <div class="info ">
                            
                            <p class="para">Best Phone to take Photos. <br>
                                Arrives in 8 days.</p>
                            <div class="btns">
                                <button class="add-c">Add to Cart</button>
                                <button class="buy-i">Buy</button>
                            </div>
                        </div>
                    </div>


                    

                    <div class="cards">
                        
                        <div class="item-id">5</div>
                        <div class="lf">
                            <img  class="i-img" src="../images/six.jpg" alt="" loading="lazy">
                            <div>Sonn PS5 Console</div>
                            <div class="price">price:<div class="pricen">&#8377;50000</div></div>

                        </div>
                       
                        <div class="info ">
                            <p class="para">This Console is the best. <br>
                                Arrives in 8 days.</p>
                            <div class="btns">
                                <button class="add-c">Add to Cart</button>
                                <button class="buy-i">Buy</button>
                            </div>
                        </div>
                    </div>


                    <div class="cards">
                        <div class="item-id">6</div>
                        <div class="lf">
                            <img  class="i-img" src="../images/five.jpg" alt="" loading="lazy">
                            <div>Bell Laptop</div>
                            <div class="price">price:<div class="pricen">&#8377;40000</div></div>

                        </div>
                       
                        <div class="info ">
                            <p class="para">This Laptop  is Good.
                                <br>
                                Arrives in 8 days.
                            </p>
                            <div class="btns">
                                <button class="add-c">Add to Cart</button>
                                <button class="buy-i">Buy</button>
                            </div>
                        </div>
                    </div>


                    <div class="cards">
                        <div class="item-id">7</div>
                        <div class="lf">
                            <img  class="i-img" src="/images/seven.jpg" alt="" loading="lazy">
                            <div>Teddy Bear</div>
                            <div class="price">price:<div class="pricen">&#8377;600</div></div>

                        </div>
                       
                        <div class="info ">
                            <p class="para">This bear is comfortable. <br>
                                Arrives in 8 days.</p>
                            <div class="btns">
                                <button class="add-c">Add to Cart</button>
                                <button class="buy-i">Buy</button>
                            </div>
                        </div>
                    </div>




                    <div class="cards">
                        <div class="item-id">8</div>
                        <div class="lf">
                            <img  class="i-img" src="/images/eight.jpg" alt="" loading="lazy">
                            <div>Hero Cycle</div>
                            <div class="price">price:<div class="pricen">&#8377;20000</div></div>

                        </div>
                       
                        <div class="info ">
                            <p class="para">This Cycle is good. <br>
                                Arrives in 8 days.</p>
                            <div class="btns">
                                <button class="add-c">Add to Cart</button>
                                <button class="buy-i">Buy</button>
                            </div>
                        </div>
                    </div>


                    <!-- <div class="cards">
                        <div class="item-id">9</div>
                        <div class="lf">
                            <img  class="i-img" src="/images/nine.jpg" alt="" loading="lazy">
                            <div>Tupperware Water Bottle</div>
                            <div class="price">price:<div class="pricen">&#8377;100</div></div>

                        </div>
                       
                        <div class="info ">
                            <p class="para">This bottle comfortable. <br>
                                Arrives in 8 days.</p>
                            <div class="btns">
                                <button class="add-c">Add to Cart</button>
                                <button class="buy-i">Buy</button>
                            </div>
                        </div>
                    </div>



                    <div class="cards">
                        <div class="item-id">10</div>
                        <div class="lf">
                            <img  class="i-img" src="/images/ten.jpg" alt="" loading="lazy">
                            <div>Metal Chess</div>
                            <div class="price">price:<div class="pricen">&#8377;1000</div></div>

                        </div>
                       
                        <div class="info ">
                            <p class="para">This Chess piece is good. <br>
                                Arrives in 8 days.</p>
                            <div class="btns">
                                <button class="add-c">Add to Cart</button>
                                <button class="buy-i">Buy</button>
                            </div>
                        </div>
                    </div>



                    <div class="cards">
                        <div class="item-id">11</div>
                        <div class="lf">
                            <img  class="i-img" src="/images/eleven.jpg" alt="" loading="lazy">
                            <div>Pan (Kitchen Set)</div>
                            <div class="price">price:<div class="pricen">&#8377;300</div></div>

                        </div>
                       
                        <div class="info ">
                            <p class="para">These things are good. <br>
                                Arrives in 8 days.</p>
                            <div class="btns">
                                <button class="add-c">Add to Cart</button>
                                <button class="buy-i">Buy</button>
                            </div>
                        </div>
                    </div>


                    <div class="cards">
                        <div class="item-id">12</div>
                        <div class="lf">
                            <img  class="i-img" src="/images/twelve.jpg" alt="" loading="lazy">
                            <div>Pimo Football</div>
                            <div class="price">price:<div class="pricen">&#8377;1000</div></div>

                        </div>
                       
                        <div class="info ">
                            <p class="para">Nice to play football. <br>
                                Arrives in 8 days.</p>
                            <div class="btns">
                                <button class="add-c">Add to Cart</button>
                                <button class="buy-i">Buy</button>
                            </div>
                        </div>
                    </div>

 -->

               
    
    
             
    
             
               
            </div>

      

        
               

        
      
      

        

            

          

           

       


    <footer >&#169; 2022-2023 Amzon</footer>

   
    <script type="module"  src="/jscripts/user.js"></script>
    
</body>
</html>